# Project exclude paths
/adminserver/admin-mapper/target/
/adminserver/admin-model/target/
/adminserver/admin-service/target/
/adminserver/admin-web/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### database backup ##
/backup