# Project exclude paths
target/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### database backup ##
/backup
/adminserver/logs/
/adminserver/admin-web/logs/
logs

### local configure file ###
*.local