<template>
  <div>
    <BasicTable @register="registerTable" :searchInfo="searchInfo">
      <template #toolbar>
        <Authority :value="'/api/${table.entityPath}s|POST'">
          <a-button type="primary" @click="handleCreate"> 新增 </a-button>
        </Authority>
      </template>
      <template #bodyCell="{ column, record }">
        <template v-if="column.key === 'action'">
          <TableAction
            :actions="[
              {
                icon: 'clarity:note-edit-line',
                onClick: handleEdit.bind(null, record),
                auth: '/api/${table.entityPath}s/{id:\\d*}|PUT',
              },
              {
                icon: 'ant-design:delete-outlined',
                color: 'error',
                popConfirm: {
                  title: '是否确认删除',
                  placement: 'left',
                  confirm: handleDelete.bind(null, record),
                },
                auth: '/api/${table.entityPath}s/{id:\\d*}|DELETE',
              },
            ]"
          />
        </template>
      </template>
    </BasicTable>
    <${entity}Modal @register="registerModal" @success="handleSuccess" />
  </div>
</template>
<script lang="ts">
  import { defineComponent, reactive } from 'vue';
  import { BasicTable, useTable, TableAction } from '/@/components/Table';
  import { useModal } from '/@/components/Modal';
  import { get${entity}List, del${entity} } from '/@/api/${packageNameWithSlash}/${entity}';
  import ${entity}Modal from './${entity}Modal.vue';
  import { columns, searchFormSchema } from './${entity}.data';
  import { Authority } from '/@/components/Authority';
  import { Base64 } from 'js-base64';
  import { useGo } from '/@/hooks/web/usePage';

  export default defineComponent({
    name: '${entity}Management',
    components: { BasicTable, ${entity}Modal, TableAction, Authority },
    setup() {
      const go = useGo();
      const [registerModal, { openModal }] = useModal();
      const searchInfo = reactive<Recordable>({});
      const [registerTable, { reload, updateTableDataRecord }] = useTable({
        title: '列表',
        api: get${entity}List,
        beforeFetch(params) {
          return '?' + Base64.encode(JSON.stringify(params));
        },
        rowKey: 'id',
        columns,
        formConfig: {
          labelWidth: 120,
          schemas: searchFormSchema,
          autoSubmitOnEnter: true,
        },
        showIndexColumn: false,
        useSearchForm: true,
        showTableSetting: true,
        bordered: true,
        handleSearchInfoFn(info) {
          console.log('handleSearchInfoFn', info);
          return info;
        },
        actionColumn: {
          width: 120,
          title: '操作',
          dataIndex: 'action',
          // slots: { customRender: 'action' },
        },
      });

      function handleCreate() {
        openModal(true, {
          isUpdate: false,
        });
        // 以下跳转到新的页面新增，完成复杂页面的新增
        // go('/${table.entityPath}/${table.entityPath}_detail/' + 0);
      }

      function handleEdit(record: Recordable) {
        openModal(true, {
          record,
          isUpdate: true,
        });
        // 以下跳转到新的页面新增，完成复杂页面的新增
        // go('/${table.entityPath}/${table.entityPath}_detail/' + record.id);
      }

      function handleDelete(record: Recordable) {
        console.log(record.id);
        del${entity}(record.id)
          .then((res) => {
            console.log(res);
          })
          .catch((res) => {
            console.log(res);
          })
          .finally(() => {
            reload();
            console.log(record);
          });
      }

      function handleSuccess({ isUpdate, values }) {
        if (isUpdate) {
          // 不刷新表格直接更新内部数据。
          // 注意：updateTableDataRecord要求表格的rowKey属性为string并且存在于每一行的record的keys中
          const result = updateTableDataRecord(values.id, values);
          console.log(result);
        } else {
          reload();
        }
      }

      return {
        registerTable,
        registerModal,
        handleCreate,
        handleEdit,
        handleDelete,
        handleSuccess,
        searchInfo,
      };
    },
  });
</script>
