import { defHttp } from '/@/utils/http/axios';
import { ${entity}, ${entity}Params, ${entity}List } from './model/${entity}Model';

enum Api {
  ${entity}s = '/${table.entityPath}s',
}

export const get${entity}List = (params: ${entity}Params) => {
  return defHttp.get<${entity}List>({ url: Api.${entity}s, params });
};
export const add${entity} = (data: ${entity}) => defHttp.post<${entity}>({ url: Api.${entity}s, data });
export const edit${entity} = (data: ${entity}) => defHttp.put<${entity}>({ url: Api.${entity}s + '/' + data.id, data });
export const del${entity} = (id: number) => defHttp.delete({ url: Api.${entity}s + '/' + id });
