--
-- 新增菜单
--
INSERT INTO `sys_permission` (`id`, `pid`, `request_url`, `request_method`, `name`, `title`, `description`, `path`, `component`, `icon`, `show_flag`, `type`, `status`, `order_no`, `created_at`, `updated_at`)
VALUES (${permissionId}, 4, '/api/${table.entityPath}s','ANY', '${table.comment}管理', 'routes.${packageName}.${entity}.${table.entityPath}','${table.comment}管理','${table.entityPath}','/${packageNameWithSlash}/${table.entityPath}/${entity}Index.vue', '','1','1','1','1',now(), now()),
       (${permissionId1}, ${permissionId}, '/api/${table.entityPath}s','GET', '${table.comment}列表', 'routes.${packageName}.${entity}.${table.entityPath}','${table.comment}列表','${table.entityPath}','/${packageNameWithSlash}/${table.entityPath}/${entity}Index.vue', '','0','1','1','1',now(), now()),
       (${permissionId2}, ${permissionId}, '/api/${table.entityPath}s','POST', '新增${table.comment}', '','新增${table.comment}','','', '','1','2','1','1',now(), now()),
       (${permissionId3}, ${permissionId}, '/api/${table.entityPath}s/{id:\\d*}','PUT', '修改${table.comment}', '','修改${table.comment}','','', '','1','2','1','1',now(), now()),
       (${permissionId4}, ${permissionId}, '/api/${table.entityPath}s/{id:\\d*}','DELETE', '删除${table.comment}', '','删除${table.comment}','','', '','1','2','1','1',now(), now()),
       (${permissionId5}, ${permissionId}, '/api/${table.entityPath}s/{id:\\d*}','GET', '${table.comment}详情', '','${table.comment}详情','','', '','1','2','1','1',now(), now());

--
-- 默认将菜单分配给root
--
INSERT INTO `sys_role_permission` (`rid`, `pid`)
VALUES (1, ${permissionId}),
       (1, ${permissionId1}),
       (1, ${permissionId2}),
       (1, ${permissionId3}),
       (1, ${permissionId4}),
       (1, ${permissionId5}),
       (2, ${permissionId}),
       (2, ${permissionId1}),
       (2, ${permissionId2}),
       (2, ${permissionId3}),
       (2, ${permissionId4}),
       (2, ${permissionId5});