--
-- 新增菜单
--
INSERT INTO `sys_permission` (`id`, `pid`, `request_url`, `request_method`, `name`, `title`, `description`, `path`, `component`, `icon`, `show_flag`, `type`, `status`, `order_no`, `created_at`, `updated_at`)
VALUES (${permissionId}, 2, '/api/${table.entityPath}s','ANY', '${table.comment}管理', 'routes.${entity}.${table.entityPath}','${table.comment}管理','/${table.entityPath}','/sbvadmin/${table.entityPath}/${entity}Index.vue', '','1','1','1','1',now(), now());
--
-- 默认将菜单分配给root
--
INSERT INTO `sys_role_permission` (`rid`, `pid`)
VALUES (1, ${permissionId});
