INSERT INTO `permission` (`pid`, `request_url`, `request_method`, `name`, `title`, `description`, `path`, `component`, `icon`, `show_flag`, `type`, `status`, `order_no`, `created_at`, `updated_at`)
VALUES (2, '/api/${table.name}s','GET', '${table.comment}管理', 'routes.${entity}.${table.name}','${table.comment}管理','/${table.name}','/sbvadmin/${table.name}/${entity}Index.vue', '','1','1','1','1',now(), now());
