<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbvadmin.mapper.UserMapper">
    <select id="getUserRolesByUid" resultType="com.sbvadmin.model.Role">
        select * from sys_role r,sys_user_role ur where r.id=ur.rid and ur.uid=#{id}
    </select>

    <resultMap id="BaseResultMap" type="com.sbvadmin.model.User">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="CHAR"/>
        <result column="wechat" property="wechat" jdbcType="CHAR"/>
        <result column="qq" property="qq" jdbcType="CHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="activated" property="activated" jdbcType="BIT"/>
        <result column="locked" property="locked" jdbcType="BIT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="home_path" property="homePath" jdbcType="VARCHAR"/>
        <result column="last_login_at" property="lastLoginAt" jdbcType="TIMESTAMP"/>
        <result column="last_login_ip" property="lastLoginIp" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="UserWithRoles" type="com.sbvadmin.model.User" extends="BaseResultMap">
        <collection property="roles" ofType="com.sbvadmin.model.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rname_zh" property="nameZh"/>
        </collection>
        <collection property="roleIds" ofType="Long">
            <id column="rid"/>
        </collection>
        <collection property="depts" ofType="com.sbvadmin.model.Dept">
            <id column="did" property="id"/>
            <result column="dname" property="name"/>
        </collection>
        <collection property="deptIds" ofType="Long">
            <id column="did"/>
        </collection>
    </resultMap>
    <select id="getUsersWithRoles" resultMap="UserWithRoles">
        select u.id, u.nickname, u.phone, u.email, u.activated, u.locked, u.username, u.avatar,u.last_login_at,
               u.last_login_ip,u.home_path,u.created_at,u.updated_at,r.`id` as rid,r.`name` as rname,r.`name_zh` as rname_zh,
               d.name as dname,d.`id` as did
        from sys_user u left join sys_user_role ur on u.`id`=ur.`uid`
            left join sys_role r on ur.`rid`=r.`id`
            left join sys_user_dept ud on u.`id`=ud.`uid`
            left join sys_dept d on d.`id`=ud.`did`
        <where>
            u.id != 1
            <if test="did!=null and did!=''">
                and d.id = #{did}
            </if>
            <if test="id!=null and id!=''">
                and u.id = #{id}
            </if>
            <if test="name!=null and name!=''">
                and (u.nickname like CONCAT('%',#{name},'%') or u.username like CONCAT('%',#{name},'%'))
            </if>
        </where>
    </select>

    <select id="getOwnUserWithRoles" resultMap="UserWithRoles">
        select u.id, u.nickname, u.phone,u.wechat,u.qq, u.email, u.activated, u.locked, u.username,u.password, u.avatar,u.last_login_at,
        u.last_login_ip,u.home_path,u.created_at,u.updated_at,r.`id` as rid,r.`name` as rname,r.`name_zh` as rname_zh,
        d.name as dname,d.`id` as did
        from sys_user u left join sys_user_role ur on u.`id`=ur.`uid`
        left join sys_role r on ur.`rid`=r.`id`
        left join sys_user_dept ud on u.`id`=ud.`uid`
        left join sys_dept d on d.`id`=ud.`did`
        where u.username = #{username}
    </select>

    <select id="getOwnUserWithRolesByUid" resultMap="UserWithRoles">
        select u.id, u.nickname, u.phone,u.wechat,u.qq, u.email, u.activated, u.locked, u.username,u.password, u.avatar,u.last_login_at,
               u.last_login_ip,u.home_path,u.created_at,u.updated_at,r.`id` as rid,r.`name` as rname,r.`name_zh` as rname_zh,
               d.name as dname,d.`id` as did
        from sys_user u left join sys_user_role ur on u.`id`=ur.`uid`
                        left join sys_role r on ur.`rid`=r.`id`
                        left join sys_user_dept ud on u.`id`=ud.`uid`
                        left join sys_dept d on d.`id`=ud.`did`
        where u.id = #{uid}
    </select>
</mapper>