<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbvadmin.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.sbvadmin.model.Permission">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="requestUrl" column="request_url"/>
        <result property="requestMethod" column="request_method"/>
        <result property="name" column="name"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="path" column="path"/>
        <result property="component" column="component"/>
        <result property="icon" column="icon"/>
        <result property="type" column="type"/>
        <result property="showFlag" column="show_flag"/>
        <result property="status" column="status"/>
        <result property="orderNo" column="order_no"/>
        <result property="createdAt" column="created_at"/>
        <collection property="roles" ofType="com.sbvadmin.model.Role">
            <id property="id" column="rid"/>
            <result property="name" column="rname"/>
            <result property="nameZh" column="rname_zh"/>
        </collection>
    </resultMap>
    <select id="getAllPermissions" resultMap="BaseResultMap">
        SELECT p.*,r.id AS rid,r.name AS rname,r.name_zh AS rname_zh FROM sys_permission p LEFT JOIN sys_role_permission rp ON p.`id`=rp.`pid` LEFT JOIN sys_role r ON rp.`rid`=r.`id`
    </select>

    <select id="getPermissionsByUid" resultType="com.sbvadmin.model.Permission">
        SELECT DISTINCT p.* FROM sys_permission p LEFT JOIN sys_role_permission rp ON p.`id`=rp.`pid` LEFT JOIN sys_user_role ur  ON rp.`rid`=ur.`rid` WHERE ur.uid=#{id}
    </select>
</mapper>